<a href="https://colab.research.google.com/github/mozzaquatro/DS/blob/main/LECTURE_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Language Basics

- Variables

In [ ]:
age = 38.8

In [ ]:
name = 'Niccolò'

In [ ]:
type(name)

- Operators
    - Mathematical
    - Comparison 
    - Boolean (and, or, not)

In [ ]:
many_professors = name * 20

In [ ]:
age

38.8

In [ ]:
print('age == 30: ', age == 30)
age != 38.5
age <= 8
age < 8
age >= 9 
age > 9

age == 30:  False

True

In [ ]:
print('is age more than 9?', age > 9)

is age more than 9? True

In [ ]:
print('is age not more than 9 or less than 40?', not (age > 9 or age < 40))

is age not more than 9 or less than 40? False

- Types
    - String, numerical
    - Lists, arrays
    - Dictionaries
    - Tuples
    - sets

In [ ]:
list_of_names = ['Nick', 'Linda', 'Luke']

In [ ]:
list_of_names[0]

'Nick'

In [ ]:
list_of_mixed_things = ['string', 90, 89.9, 'a']

In [ ]:
list_of_mixed_things[0] + list_of_mixed_things[-1]

'stringa'

In [ ]:
list_of_boolean_values = [age > 3, age < 40]

In [ ]:
list_of_boolean_values

[True, True]

In [ ]:
surname = 'Marastoni'

In [ ]:
person_dict = {'name':name, 'surname':surname, 'age':age}

In [ ]:
type(person_dict['age'])

float

In [ ]:
person_tuple = (name, surname, age)

In [ ]:
person_tuple

('Niccolò', 'Marastoni', 38.8)

In [ ]:
name = 'Elisa'
surname = 'Quintarelli'
children = 2

In [ ]:
elisa_tuple = ('Elisa', 'Quintarelli', 2)

In [ ]:
name, surname, children = elisa_tuple

In [ ]:
list_of_names

['Nick', 'Linda', 'Luke']

In [ ]:
list_of_duplicated_names = list_of_names * 2

In [ ]:
list_of_duplicated_names

['Nick', 'Linda', 'Luke', 'Nick', 'Linda', 'Luke']

In [ ]:
set_of_names = set(list_of_duplicated_names)
print(set_of_names)

{'Linda', 'Luke', 'Nick'}

In [ ]:
another_set_of_names = set(['Nick','Lisa','Robert'])

In [ ]:
set_of_names.intersection(another_set_of_names)

{'Nick'}

In [ ]:
set_of_names.symmetric_difference(another_set_of_names)

{'Linda', 'Lisa', 'Luke', 'Robert'}

- Reserved keywords
    - For, if etc.
    - Built-in functions (sum, type, len)
    - is, in

In [ ]:
list_of_ages = [38, 67, 89, 12]

In [ ]:
len(list_of_ages)

4

In [ ]:
15 in list_of_ages

False

- Control flow 
    - if/else/elif
    - for/for each
    - range
    - While
        - End condition

In [ ]:
list_of_names

['Nick', 'Linda', 'Luke']

In [ ]:
'Nick' not in list_of_names

False

In [ ]:
nick_is_there = False
if 'Nick' not in list_of_names:
    nick_is_there = True
    print(list_of_names)
else:
    list_of_names.append('Marta')
    print(list_of_names)

['Nick', 'Linda', 'Luke', 'Marta']

In [ ]:
list_of_names = ['Mark'] + list_of_names

In [ ]:
person_dict

{'age': 38.8, 'name': 'Niccolò', 'surname': 'Marastoni'}

In [ ]:
person_dict['age'] = 12

In [ ]:
if person_dict['age'] < 40 and person_dict['age'] >= 30:
    print('not too old')
elif person_dict['age'] < 30 and person_dict['age'] > 20:
    print('kinda young')
else:
    print('young')

young

In [ ]:
print(list_of_names)

['Mark', 'Nick', 'Linda', 'Luke', 'Marta']

In [ ]:
for name in list_of_names:
    print(name)

Mark
Nick
Linda
Luke
Marta

In [ ]:
for name in set_of_names:
    print(name)

Linda
Luke
Nick

In [ ]:
for age in list_of_ages:
    if age > 40:
        print(age)

67
89

In [ ]:
len(list_of_ages)

4

In [ ]:
for index in range(8):
    print(index)

0
1
2
3
4
5
6
7

In [ ]:
for i in range(len(list_of_ages)):
    print(i, ') ', list_of_ages[i])

0 )  38
1 )  67
2 )  89
3 )  12

In [ ]:
for age in list_of_ages:
    print(age)

38
67
89
12

In [ ]:
while True:
    print('this is never gonna end')
    break

this is never gonna end

- List Comprehension
    - Time comparison (even list)

In [ ]:
list_of_ages = list(range(20000))

In [ ]:
21 % 2 == 0

False

In [ ]:
%%time
list_of_even_ages = []
for age in list_of_ages:
    if age % 2 == 0:
        list_of_even_ages.append(age)

CPU times: user 9.65 ms, sys: 0 ns, total: 9.65 ms
Wall time: 10.9 ms

In [ ]:
#[38, 12] <- result
len(list_of_even_ages)

10000

In [ ]:
%%time
list_of_even_ages = [x for x in list_of_ages if x % 2 == 0]

CPU times: user 3.26 ms, sys: 0 ns, total: 3.26 ms
Wall time: 5.63 ms

In [ ]:
for even_age in [x for x in list_of_ages if x % 2 == 0]:
    print(even_age)

- Comments 
    - Inline
    - Block 
    - Functions (pydoc)

- Functions 
    - Parameters
    - calling/returning
    - Scope
    - input/no input/output/no output

In [ ]:
list_of_numbers = list(range(45,789))

In [ ]:
list_of_even_numbers = even_numbers(list_of_numbers)

NameError: ignored

In [ ]:
def even_numbers(input_list):
    output_list = []
    for number in input_list:
        if number % 2 == 0:
            output_list.append(number)

    return output_list

In [ ]:
list_of_even_numbers = even_numbers(list_of_numbers)
print(list_of_even_numbers[:10])

In [ ]:
list_of_even_ages = even_numbers(list_of_ages)

print(list_of_even_ages[:10])

In [ ]:
def prints_ten_zeros():
    for i in range(10):
        print(0)

In [ ]:
prints_ten_zeros()

In [ ]:
list_of_even_ages = even_numbers(list_of_ages)

In [ ]:
even_numbers(list_of_mixed_things)

In [ ]:
type(even_numbers)

In [ ]:
def intersection_of_lists(first_list, second_list):
    intersection_list = []
    counter = 0
    for element in first_list:
        if element in second_list:
            counter = counter + 1
            intersection_list.append(element)

    return intersection_list, counter

In [ ]:
intersection_result = intersection_of_lists(list_of_even_ages, list_of_even_numbers)

In [ ]:
print('number of elements in intersection = ', intersection_result[1])

In [ ]:
intersection_list, counter = intersection_of_lists(list_of_even_ages, list_of_even_numbers)

In [ ]:
print('number of elements in intersection = ', counter)

#Basic Exercises

1. Write a function that returns True if all the elements in the input list are even
2. Write a function that returns the maximum value in a list
2. Write a function that returns the sum of all values in the list
2. Write a function that accepts a list of numbers as input and returns an inverted version of the list
2. Write a function that returns the first and last elements of a list
3. Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c 
4. Write a function that calculates the number of days between two dates. The dates can be tuples
5. Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)
6. Write a function to print the content of a dictionary in order by key
7. Write a function to find all keys in the provided dictionary that have the given value
8. Write a function to sort a tuple by its float element

In [ ]:
list_of_ages

In [ ]:
#1. Write a function that returns True if all the elements in the input list are even
def is_list_even(input_list):
    for element in input_list:
        if element % 2 != 0:
            return False

    return True

In [ ]:
is_list_even(list_of_ages)

In [ ]:
is_list_even(list_of_even_ages)

In [ ]:
#2. Write a function that returns the maximum value in a list
def max_value_in_list(input_list):
    max_value = input_list[0]

    for element in input_list:
        if element > max_value:
            max_value = element

    return max_value

In [ ]:
list_of_negative_numbers = [-23, -34, -2, -456]
max_value_in_list(list_of_negative_numbers)

In [ ]:
list_of_ages[-1]

In [ ]:
#3. Write a function that returns the sum of all values in the list
def sum_of_all_values_in_list(numerical_list):
    sum_of_all_values = 0

    for element in numerical_list:
        #sum_of_all_values = sum_of_all_values + element
        sum_of_all_values += element
        print('element = ', element, ' sum_of_all_values = ', sum_of_all_values)

    return sum_of_all_values

In [ ]:
sum_of_all_values_in_list(range(10))

In [ ]:
for i in range(1, -len(range(10)), -1): #backwards
#for i in range(-1,-len(range(10)),-1):
    print(i)

In [ ]:
# 4. Write a function that accepts a list of numbers as input and returns an inverted version of the list
list_names = ['joao','pedro','maria']
list4 = [1,2,3,4,5,6,7,8,9,10,500]

In [ ]:
def invert_list(list):
  inverted_list = []
  for i in range(-1,-(len(list)+1),-1):
    #print(i,' - ',list[i])
    inverted_list.append(list[i])

  return inverted_list

In [ ]:
#ext_inv_list =[]
invert_list(list4)
#ext_inv_list

# 5.Write a function that returns the first and last elements of a list

In [ ]:
# 5. Write a function that returns the first and last elements of a list
def list_first_last(list):
  first = list[0]
  last = list[-1]

  return first,last

In [ ]:
list_names

In [ ]:
%%time
list_first_last(list_names)

In [ ]:
%%time
list_first_last(range(54862))

# 6 Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c

In [ ]:
# 6.Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c

In [ ]:

def number6(a,b,c,x):
  return ((a*x)**2) + (b*x) + c

In [ ]:
%%time
number6(2,2,4,2)

# 7.Write a function that calculates the number of days between two dates. The dates can be tuples

In [ ]:
import datetime as date

In [ ]:
#7.Write a function that calculates the number of days between two dates. The dates can be tuples
def number_of_days(year1,month1,day1,year2,month2,day2):
  date1 = date.datetime(year1,month1,day1)
  date2 = date.datetime(year2,month2,day2)
  if date1 >= date2:
    return date1-date2
  else:
    return date2-date1

In [ ]:
number_of_days(2052,11,12,2021,11,12)

# 8.Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)

In [ ]:
dictionary1 = {
                "country":"Spain",
               "city":"Leon",
               "year":"2017"
}

dictionary2 = {
                "food":"pizza",
               "price":"4.67",
               "drink":"beer"
}

print(dictionary1)
print(dictionary2)

In [ ]:
#8.Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)
def merge_dict(dict1,dict2):
  for key, value in dict1.items():
    dict2[key] = value
  return dict2

In [ ]:
merge_dict(dictionary1,dictionary2)

#9.Write a function to print the content of a dictionary in order by key

In [ ]:
# 9.Write a function to print the content of a dictionary in order by key
dictionary9 = {
    "f":"g",
    "a":"b",
    "z": "y",
    "b":"c",
    "h":"i"
}

In [ ]:
dictionary9

{'a': 'b', 'b': 'c', 'f': 'g', 'h': 'i', 'z': 'y'}

In [ ]:
def dictionary_in_default_order(dict1):
  #key_order = list(dict1.keys())[0]
  for key, value in dict1.items():
    #print(key_order)
    print(key,' - ',value)

In [ ]:
dictionary_in_default_order(dictionary9)

f  -  g
a  -  b
z  -  y
b  -  c
h  -  i

#10.

#10.Write a function to find all keys in the provided dictionary that have the given value

In [ ]:
#10.Write a function to find all keys in the provided dictionary that have the given value
dictionary_names = {
    "Name":"João",
    "name":"pedro",
    "nAme":"PAULO",
    "Nam":"joselito",
    "idade": "12",
    "LastName": "Scliar"
}

In [ ]:
def key_search(key_name, dictionary_name):
  filtered_dictionary = {}
  for key, value in dictionary_name.items():
    if key.lower() == key_name.lower():
      filtered_dictionary[key]=value

  return filtered_dictionary

In [ ]:
key_search("name",dictionary_names)

{'Name': 'João', 'nAme': 'PAULO', 'name': 'pedro'}

In [ ]:
def key_search_opt(key_value, dictionary):
  filtered_dictionary = { key: value for key, value in dictionary.items() if key.lower() == key_value.lower() }

  return filtered_dictionary

In [ ]:
key_search_opt("name", dictionary_names)

{'Name': 'João', 'nAme': 'PAULO', 'name': 'pedro'}

#11.Write a function to sort a tuple by its float element

In [ ]:
# 11.Write a function to sort a tuple by its float element
tuple_float = (("joao",5.0),("pedro", 5.4),("Luis",3.7),("augusto",8),("Maria",3.0))
print(tuple_float)
print(type(tuple_float))

(('joao', 5.0), ('pedro', 5.4), ('Luis', 3.7), ('augusto', 8), ('Maria', 3.0))
<class 'tuple'>

In [ ]:
def sort_tuple_2_elements(tuple):
  ordered = []
  first_float = tuple[0][1] 
  index = 0
  for index in range(len(tuple)):
    if first_float > tuple[index][1]:
      first_float = tuple[index][1]
      #print(first_float,' - ', index)
      ordered.insert(0,tuple[index])
    else:
      ordered.insert(index,tuple[index])

    
  return (*ordered,)

In [ ]:
sort_tuple_2_elements(tuple_float)

(('Maria', 3.0), ('Luis', 3.7), ('joao', 5.0), ('pedro', 5.4), ('augusto', 8))

#Python Language Advanced

- Objects
    - Constructor
    - Attributes
    - Methods
        - Built in -> \_\_repr__, \_\_eq__

- Advanced functions
    - lambdas
    - map
    - filter
    - sorted

- Reading documentation
- Exceptions 
    - Reading errors

- Common Libraries
    - os
    - random
    - copy
    - time

#Advanced Exercises

1. Write a function that orders a list in reverse alphabetical order, using Lambda
2. Write a function to square and cube every number in a given list of integers, using Lambda
3. Write a Triangle object that can be constructed by three points in space    
    a. Define a method for the perimeter of the triangle    
    b. Write an appropriate \_\_repr__ function   
    c. Write an appropriate \_\_eq__ function so that two triangles are equal if their sides are equal
4. Write a function to list only i) directories, ii) files and ii) all directories, files in a specified path