<a href="https://colab.research.google.com/github/mozzaquatro/DS/blob/main/LECTURE_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Language Basics

- Variables

In [ ]:
age = 38.8

In [ ]:
name = "Niccolò"

In [ ]:
type(name)

str

- Operators
    - Mathematical
    - Comparison 
    - Boolean (and, or, not)

In [ ]:
many_professors = name * 20
print(many_professors)

NiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolòNiccolò

In [ ]:
age

38.8

In [ ]:
print('age == 30: ', age == 30)
age != 38.5
age <= 8
age < 8
age >= 9 
age > 9

age == 30:  False

True

In [ ]:
print('is age more than 9?', age > 9)

is age more than 9? True

In [ ]:
print('is age not more than 9 or less than 40?', not (age > 9 or age < 40))

is age not more than 9 or less than 40? False

- Types
    - String, numerical
    - Lists, arrays
    - Dictionaries
    - Tuples
    - sets

In [ ]:
list_of_names = ['Nick', 'Linda', 'Luke']

In [ ]:
list_of_names[0]

'Nick'

In [ ]:
list_of_mixed_things = ['string', 90, 89.9, 'a']

In [ ]:
list_of_mixed_things[0] + list_of_mixed_things[-1]

'stringa'

In [ ]:
list_of_boolean_values = [age > 3, age < 40]

In [ ]:
list_of_boolean_values

[True, True]

In [ ]:
surname = 'Marastoni'

In [ ]:
person_dict = {'name':name, 'surname':surname, 'age':age}

In [ ]:
type(person_dict['age'])

float

In [ ]:
person_tuple = (name, surname, age)

In [ ]:
person_tuple

('Niccolò', 'Marastoni', 38.8)

In [ ]:
name = 'Elisa'
surname = 'Quintarelli'
children = 2

In [ ]:
elisa_tuple = ('Elisa', 'Quintarelli', 2)

In [ ]:
name, surname, children = elisa_tuple

In [ ]:
list_of_names

['Nick', 'Linda', 'Luke']

In [ ]:
list_of_duplicated_names = list_of_names * 2

In [ ]:
list_of_duplicated_names

['Nick', 'Linda', 'Luke', 'Nick', 'Linda', 'Luke']

In [ ]:
set_of_names = set(list_of_duplicated_names)
print(set_of_names)

{'Linda', 'Luke', 'Nick'}

In [ ]:
another_set_of_names = set(['Nick','Lisa','Robert'])

In [ ]:
set_of_names.intersection(another_set_of_names)

{'Nick'}

In [ ]:
set_of_names.symmetric_difference(another_set_of_names)

{'Linda', 'Lisa', 'Luke', 'Robert'}

- Reserved keywords
    - For, if etc.
    - Built-in functions (sum, type, len)
    - is, in

In [ ]:
list_of_ages = [38, 67, 89, 12]

In [ ]:
len(list_of_ages)

4

In [ ]:
15 in list_of_ages

False

- Control flow 
    - if/else/elif
    - for/for each
    - range
    - While
        - End condition

In [ ]:
list_of_names

['Nick', 'Linda', 'Luke']

In [ ]:
'Nick' not in list_of_names

False

In [ ]:
nick_is_there = False
if 'Nick' not in list_of_names:
    nick_is_there = True
    print(list_of_names)
else:
    list_of_names.append('Marta')
    print(list_of_names)

['Nick', 'Linda', 'Luke', 'Marta']

In [ ]:
list_of_names = ['Mark'] + list_of_names

In [ ]:
person_dict

{'age': 38.8, 'name': 'Niccolò', 'surname': 'Marastoni'}

In [ ]:
person_dict['age'] = 12

In [ ]:
if person_dict['age'] < 40 and person_dict['age'] >= 30:
    print('not too old')
elif person_dict['age'] < 30 and person_dict['age'] > 20:
    print('kinda young')
else:
    print('young')

young

In [ ]:
print(list_of_names)

['Mark', 'Nick', 'Linda', 'Luke', 'Marta']

In [ ]:
for name in list_of_names:
    print(name)

Mark
Nick
Linda
Luke
Marta

In [ ]:
for name in set_of_names:
    print(name)

Linda
Luke
Nick

In [ ]:
for age in list_of_ages:
    if age > 40:
        print(age)

67
89

In [ ]:
len(list_of_ages)

4

In [ ]:
range(8)

range

In [ ]:
for index in range(8):
    print(index)

0
1
2
3
4
5
6
7

In [ ]:
for i in range(len(list_of_ages)):
    print(i, ') ', list_of_ages[i])

0 )  38
1 )  67
2 )  89
3 )  12

In [ ]:
for age in list_of_ages:
    print(age)

38
67
89
12

In [ ]:
while True:
    print('this is never gonna end')
    break

this is never gonna end

- List Comprehension
    - Time comparison (even list)

In [ ]:
print(list_of_ages)

[38, 67, 89, 12]

- Comments 
    - Inline
    - Block 
    - Functions (pydoc)

- Functions 
    - Parameters
    - calling/returning
    - Scope
    - input/no input/output/no output

#Basic Exercises

1. Write a function that returns True if all the elements in the input list are even
2. Write a function that returns the maximum value in a list
2. Write a function that returns the sum of all values in the list
2. Write a function that accepts a list of numbers as input and returns an inverted version of the list
2. Write a function that returns the first and last elements of a list
3. Write a function that, given a, b, c, x as inputs, calculates ax^2 + bx + c 
4. Write a function that calculates the number of days between two dates. The dates can be tuples
5. Write a function that accepts 2 dictionaries as input and returns a single dictionary with the same data (merged)
6. Write a function to print the content of a dictionary in order by key
7. Write a function to find all keys in the provided dictionary that have the given value
8. Write a function to sort a tuple by its float element

#Python Language Advanced

- Objects
    - Constructor
    - Attributes
    - Methods
        - Built in -> \_\_repr__, \_\_eq__

- Advanced functions
    - lambdas
    - map
    - filter
    - sorted

- Reading documentation
- Exceptions 
    - Reading errors

- Common Libraries
    - os
    - random
    - copy
    - time

#Advanced Exercises

1. Write a function that orders a list in reverse alphabetical order, using Lambda
2. Write a function to square and cube every number in a given list of integers, using Lambda
3. Write a Triangle object that can be constructed by three points in space    
    a. Define a method for the perimeter of the triangle    
    b. Write an appropriate \_\_repr__ function   
    c. Write an appropriate \_\_eq__ function so that two triangles are equal if their sides are equal
4. Write a function to list only i) directories, ii) files and ii) all directories, files in a specified path