<a href="https://colab.research.google.com/github/mozzaquatro/DS/blob/main/LECTURE_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Language Advanced

- Objects
    - Constructor
    - Attributes
    - Methods
        - Built in -> \_\_repr__, \_\_eq__
    - Inheritance
        - isinstance, issubclass

In [ ]:
person_dict = {
    'name':'Nick',
    'age':38
}

In [ ]:
person_dict['age']

38

In [ ]:
person_dict = {
    'name':'',
    'age':0
}

In [ ]:
person_dict['name'] = 'Nick'

In [ ]:
person_dict

{'age': 0, 'name': 'Nick'}

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def ageing(self):
        self.age = self.age + 1

    def __repr__(self):
        return 'Hello, I am ' + self.name + ' and I am ' + str(self.age) + ' years old'

In [ ]:
person_1 = Person('Nick', 38)

In [ ]:
print(person_1.age)
print(person_1.name)

38
Nick

In [ ]:
person_1.ageing()

In [ ]:
print(person_1.age)

39

In [ ]:
print(person_1)

Hello, I am Nick and I am 39 years old

In [ ]:
person_2 = Person()

In [ ]:
person_2.name = 'Lucio'
person_2.age = 38

In [ ]:
print(person_2.name)
print(person_2.age)

Lucio
38

In [ ]:
print(person_2)

Hello, I am Lucio and I am 38 years old

In [ ]:
class Student(Person):
    def __init__(self, name, age, studentID):
        self.name = name
        self.age = age
        self.studentID = studentID

    def give_grade(self, grade):
        self.grade = grade

In [ ]:
class Student(Person):
    def __init__(self, name, age, studentID):
        Person.__init__(self,  name, age)
        self.studentID = studentID

    def give_grade(self, grade):
        self.grade = grade

In [ ]:
student_1 = Student('Nick', 28, 'VR364536')

In [ ]:
class Professor(Person):
    def __init__(self, name, age, studentID):
        self.name = name
        self.age = age
        self.ID = 'XXX'

    def give_classes(self, classes):
        self.classes = classes

In [ ]:
student_1 = Student('Nick', 28, 'VR365523')

In [ ]:
print(student_1)

Hello, I am Nick and I am 28 years old

In [ ]:
student_1.ageing()

In [ ]:
print(student_1.studentID)

VR365523

In [ ]:
student_1.give_grade(30)

In [ ]:
student_1.grade

30

- Advanced functions
    - lambdas
    - map
    - filter
    - sorted

In [ ]:
#a function that given a number n as input, returns n + 1
def successor(n):
    return n + 1

In [ ]:
successor(234)

235

In [ ]:
successor_lambda = lambda x : x + 1

In [ ]:
successor_lambda(1)

2

In [ ]:
shorter_list_of_numbers = [0,1,2,3]

In [ ]:
list(map(successor, shorter_list_of_numbers))

[1, 2, 3, 4]

In [ ]:
list(map(lambda x : x + 1, shorter_list_of_numbers))

[1, 2, 3, 4]

In [ ]:
unordered_list_of_numbers = [12,3,45,23,-1]

In [ ]:
ordered_list_of_numbers = sorted(unordered_list_of_numbers)

In [ ]:
ordered_list_of_numbers

[-1, 3, 12, 23, 45]

In [ ]:
unordered_list_of_numbers.sort()

In [ ]:
unordered_list_of_numbers.sort()

In [ ]:
unordered_list_of_numbers

[-1, 3, 12, 23, 45]

In [ ]:
unordered_list_of_numbers.sort(reverse=True)

- Reading documentation
- Exceptions 
    - Reading errors

In [ ]:
def divide_numbers(num_1, num_2):
    result = num_1
    try:
        result = num_1 / num_2
        this_variable_doesnt_exist.sort()
    except ZeroDivisionError:
        print('hello, you cannot divide by zero')
    
    return result

In [ ]:
divide_numbers(3, 1)

NameError: ignored

- Opening files

In [ ]:
open('sample_data/README.md', 'r')

In [ ]:
f = open('sample_data/README.md', 'r')

In [ ]:
f.readline()

'This directory includes a few sample datasets to get you started.\n'

In [ ]:
f.close()

In [ ]:
with open('sample_data/README.md', 'r') as f:
    for line in f:
        print(line)

This directory includes a few sample datasets to get you started.



*   `california_housing_data*.csv` is California housing data from the 1990 US

    Census; more information is available at:

    https://developers.google.com/machine-learning/crash-course/california-housing-data-description



*   `mnist_*.csv` is a small sample of the

    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is

    described at: http://yann.lecun.com/exdb/mnist/



*   `anscombe.json` contains a copy of

    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it

    was originally described in



    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American

    Statistician. 27 (1): 17-21. JSTOR 2682899.



    and our copy was prepared by the

    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
f = open('new_file.txt', 'w')

In [ ]:
f.write('hello, this is the first line')

29

In [ ]:
f.close()

In [ ]:
len('hello, this is the first line')

29

In [ ]:
f = open('new_file.txt', 'w')
f.write('hello, this is the second line')
f.close()

In [ ]:
f = open('new_file.txt', 'a')
f.write('\nhello, this is the second line')
f.close()

- Common Libraries
    - os
    - random
    - copy
    - time

In [ ]:
import os
import sys

In [ ]:
for file in os.listdir('sample_data'):
    print(file)

README.md
anscombe.json
mnist_train_small.csv
california_housing_test.csv
mnist_test.csv
california_housing_train.csv

In [ ]:
import time

In [ ]:
time_begining = time.time()

for i in range(100000):
    l = i

time_end = time.time() - time_begining

In [ ]:
time_end

0.01865100860595703

In [ ]:
from os import listdir

In [ ]:
listdir()

['.config', 'new_file.txt', 'sample_data']

In [ ]:
import numpy as np

In [ ]:
np.array([1,2])

array([1, 2])

#Advanced Exercises

1. Write a function that takes a list of tuples (see example) and return a list of objects that have the same data.    
list = [('Nick', 38, 'professor'), ('Mark', 23, 'student'), ('Elsa', 43, 'janitor'), ('Richard', 56, 'bus driver'), ('Frank', 72, 'trash man')]

2. Write a function that orders the previously generated list of objects in reverse alphabetical order (by name), using sorted and Lambda.    
2. Write a function to square and cube every number in a given list of integers, and one to cube every number. Both using Lambda.     
list = [12, 32, 52, 226, 63, 85, 47, 9]

3. Write a Triangle object that can be constructed by three points in space    
    a. Define a method for the perimeter of the triangle    
    b. Write an appropriate \_\_repr__ function   
    c. Write an appropriate \_\_eq__ function so that two triangles are equal if their sides are equal
4. Write a function to list only i) directories, ii) files and ii) all directories, files in a specified path
5. Write a function that renames a file. Both old name and new name are passed as inputs.    
Bonus: if the original file doesn't exist, create the renamed file.
6. Write a function that takes a filename and a string as input and writes that string in the file.

In [ ]:
sorted?

In [ ]:
#Write a function that takes a list of tuples (see example) and return a list of objects that have the same data.
class PersonWithJob:
    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job
    
    def __repr__(self):
        return self.name + ' ' + str(self.age) + ' ' + self.job

In [ ]:
person_1 = PersonWithJob('Nick', 38, 'professor')

In [ ]:
person_1

Nick 38 professor

In [ ]:
list_of_people_tuples = [('Nick', 38, 'professor'), ('Mark', 23, 'student'), ('Elsa', 43, 'janitor'), ('Richard', 56, 'bus driver'), ('Frank', 72, 'trash man')]

In [ ]:
def generate_list_of_people_objects_from_tuples(list_of_people_tuples):
    list_of_people_objects = []

    for person_tuple in list_of_people_tuples:
        name = person_tuple[0]
        age = person_tuple[1]
        job = person_tuple[2]
        person = PersonWithJob(name, age, job)
        list_of_people_objects.append(person)

    return list_of_people_objects

In [ ]:
list_of_people_objects = generate_list_of_people_objects_from_tuples(list_of_people_tuples)

In [ ]:
list_of_people_objects

[Nick 38 professor,
 Mark 23 student,
 Elsa 43 janitor,
 Richard 56 bus driver,
 Frank 72 trash man]

In [ ]:
#Write a function that orders the previously generated list of objects in reverse age order, 
#using sorted and Lambda.
def reverse_sort_list_of_people_by_age(list_of_people_objects):
    return sorted(list_of_people_objects, key=lambda x: x.age, reverse=True)

In [ ]:
reverse_sort_list_of_people_by_age(list_of_people_objects)

[Frank 72 trash man,
 Richard 56 bus driver,
 Elsa 43 janitor,
 Nick 38 professor,
 Mark 23 student]

In [ ]:
#Write a function that orders the previously generated list of objects in reverse name order, 
#using sorted and Lambda.
def reverse_sort_list_of_people_by_name(list_of_people_objects):
    return sorted(list_of_people_objects, key=lambda x: x.name, reverse=True)

In [ ]:
reverse_sort_list_of_people_by_name(list_of_people_objects)

[Richard 56 bus driver,
 Nick 38 professor,
 Mark 23 student,
 Frank 72 trash man,
 Elsa 43 janitor]